<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>7.1</string>
	<key>CFBundleDisplayName</key>
	<string>BTC Exchange</string>
	<key>CFBundleIdentifier</key>
	<string>cd.btcex.bitcoinapp</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>XSLaunchImageAssets</key>
	<string>Images.xcassets\LaunchImages.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Images.xcassets\AppIcons.appiconset</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>prototypepayment</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>bitcoinapp</string>
      </array>
      <key>CFBundleURLIconFile</key>
      <string>Icon-Small-40</string>
    </dict>
  </array>  
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>https://crosspayapis.azurewebsites.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
  <key>FirebaseAppDelegateProxyEnabled</key>
  <false/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The Application need your media files</string>
  
	<key>NSCameraUsageDescription</key>
	<string>The Application need your Camera</string>
  
	<key>NSCalendarsUsageDescription</key>
	<string>The Application need your calendar</string>
  
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The Application need access your current location</string>
  
	<key>NSLocationUsageDescription</key>
	<string>The Application need access your current location</string>
 
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>The Application need access your current location</string>
 
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>The Application need access your current location</string>
  
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>The Application need your media files</string>
  
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>The Application need use Bluetooth</string>
  
  <key>UIStatusBarStyle</key>
  <string>UIStatusBarStyleLightContent</string>
  <key>UIViewControllerBasedStatusBarAppearance</key>
  <false/>
</dict>
</plist>